# {{ ansible_managed }}

ELK_VERSION={{ elk_node_version }}

#
# ELK core components targets
#
ELK_CORE_ES_ADDRESS={{ elk_node_core_es_address }}
ELK_CORE_KIBANA_ADDRESS={{ elk_node_core_kibana_address }}
ELK_CORE_LOGSTASH_ADDRESS={{ elk_node_core_logstash_address }}


#
# General settings
#
LISTEN_IP_ADDRESS={{ elk_node_listen_ip_address }}
LOGGING_MAX_SIZE={{ elk_node_logging_max_size }}
LOGGING_MAX_FILE={{ elk_node_logging_max_file }}


#
# Logstash
#
LS_JAVA_OPTS='{{ elk_node_logstash_java_opts }}'
